amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
construct==2.5.3
cssselect==1.0.3
d==0.2.2
Django==2.0.3
django-cors-headers==2.2.0
django-extensions==2.0.6
django-filter==1.1.0
django-filters==0.2.1
django-haystack==2.8.0
django-pandas==0.5.1
djangorestframework==3.7.7
funcy==1.10.1
future==0.16.0
haystack==0.42
Jinja2==2.10
joblib==0.11
kombu==4.1.0
lxml==4.2.1
Markdown==2.6.11
MarkupSafe==1.0
numpy==1.14.2
pandas==0.22.0
pefile==2017.11.5
pydot==1.2.4
Pygments==2.2.0
pygraphviz==1.3.1
pyparsing==2.2.0
pyquery==1.4.0
python-dateutil==2.7.1
python-ptrace==0.9.3
pytz==2018.3
redis==2.10.6
scikit-learn==0.19.1
scikit-surprise==1.0.5
scipy==1.0.1
six==1.11.0
surprise==0.1
vine==1.1.4
Whoosh==2.7.4
