
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Movies</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/running">Nearby You<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upcoming">Upcoming</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search"
                                               method="get">
            <input class="form-control mr-sm-2" type="search"
                                                placeholder="Search"
                                                aria-label="Search"
                                                name="q">
            <select multiple name="models" style="display:none">
                <option value="booking_system.crewprofile" selected>Crew</option> 
                <option value="booking_system.genre" selected>Genre</option> 
                <option value="booking_system.movie" selected>Movie</option> 
                <option value="booking_system.theater" selected>Theater</option> 

            <!-- 
                    http://localhost:8000/search/?q=Something&models=booking_system.crewprofile&models=booking_system.genre&models=booking_system.movie&models=booking_system.theater
            -->

            </select>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
