{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-sm-4">
		<div class="card">
			<img class="card-img-top" src="/static/images/movie_detail.png" alt="Card image cap">
			<div class="card-body">
				<div class="row">
					<h3 class="card-title"> <strong>{{movie.title}}</strong> </h3>
				</div>
				<div class="row">
					<h5><span style='border:1px black solid; font-size:20px;'>{{movie.language}}</span></h5>
				</div>
				<div class="row">
					{% for genre in movie.genres.all %}
					<div class="card-columns">
					<p><span style='border:1px black solid; font-size:20px;' >{{genre}}</span></p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="card">
			<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs">
   			 	<li class="nav-item">
   			 		<a class="nav-link active" href="#">Summary</a>
   			 	</li>
   			 	<li class="nav-item">
   			 		<a class="nav-link active" href="#">User Review</a>
   			 	</li>
   			 </ul>
   			</div>	
			<div class="card-body">
				<div class="row">
					<h5 class="card-title"><strong>Synopsis</strong></h5>
					<p class="card-text">{{movie.synopsis}}</p>
				</div>
				<div class="row">
					<h5 class="card-title"><strong>Crew</strong></h5>
				</div>
				<div class="row">
					<!-- <p> {{movie.crew.all}}</p> -->
					{% for crew in movie.crew.all %}
					<div class="col-sm-3">
						<div class="card">
							<h1> {{crew.id}} </h1>
							<img class="card-img-top" src="/static/images/crew.png" alt="Card image cap">
							<h5 class="text-center"> <a href="../../crew/{{crew.profile.id}}">{{crew.profile}}</a> </h5>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
