.card-columns {
  @include media-breakpoint-only(md) {
    column-count: 6;
  }
  @include media-breakpoint-only(sm) {
    column-count: 7;
  }
  @include media-breakpoint-only(lg) {
    column-count: 6;
  }
  @include media-breakpoint-only(xl) {
    column-count: 7;
  }
}

.movie_ticket {
  width: 25px;
  height: 25px;
  margin: 1px;
  border: 1px solid black;
  border-radius: 4px;
}

.selectable {

}

.unselectable {
  background-color: gray;
}

.selected {
  background-color: green;
}
